/*-Footer-*/

.footer__redes {
    display: flex;
    justify-content: space-around;
    padding: 0.3em;
    background-color: $nav-color-principal;
}

.footer_lettersnew {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.6em;
    font-weight: bold;
}

$logos: (key1: twitter, key2: facebook, key3: instagram);

@each $key, $redes in $logos {
    .#{$key} {
        width: 2em;
        opacity: 0.8;
    }
}