@media screen and (max-width:850px) {


    .div__imagenes__exposicion,
    .div__imagenes__exposicion__1,
    .div__imagenes__exposicion__2 {
        margin-bottom: 2em;

    }

    .imagen__exposicion {
        height: 15em;
    }

    .texto__imagen__izquierda {
        padding-top: 1.5em;
    }

    .informacion__imagenes__derecha {
        flex-direction: column;
    }

    .informacion__imagenes__izquierda {
        flex-direction: column;
    }

    .texto__imagen__derecha {
        text-align: center
    }

    .texto__imagen__izquierda {
        text-align: center
    }

    .formulario {
        padding-left: 1em;
    }

    .footer__logo {
        width: 1.5em;
    }
}

