/* Trabajar en ODNails */

.informacion__trabajar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.parrafo__trabajar {
    padding: 1em;
    background-color: #f9f8f8;
    border-radius: 0.5em;
    
}