@import 'variables';
@import 'header';
@import 'footer';
@import 'index';
@import 'contacto';
@import 'trabajarenod';

* {
    margin: 0;
    padding: 0;
}

/*Information General*/

body {
    background-image: url(../recursos/fondo-test.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.informacion__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.9em;
    padding-bottom: 2em;
}
.informacion__texto {
    padding-top: 1em;
}

/*-sucursales*/

.sucursales__carrusel {
    width: 60em;
}

/*-Promociones-*/

.bg-rose {
    background-color: rgba(213, 122, 190, 0.519);
    border-radius: $border-radius;
}

.carta__promocion:hover {
    @include hover__scale(1.05, all 0.5s ease);
}

/*-Sucursales-*/

.backgroud__sucursales {
    @extend .bg-rose;
}

@import 'mediaqueries';