@import 'variables';
@import 'header';
@import 'footer';
@import 'mediaqueries';

* {
    margin: 0;
    padding: 0;
}

/*----------------Home Page------------------*/

body {
    background-image: url(../recursos/fondo-test.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.informacion__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.9em;
    padding-bottom: 2em;
}
.informacion__texto {
    padding-top: 1em;
}

/*-Main Informacion-*/

.main__informacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.informacion__imagenes__derecha {
    display: flex;
    align-items: center;
    width: 50vw;
}

.informacion__imagenes__derecha:hover {
    transform: scale(1.1);
    transition: all 0.8s ease;
}

.texto__imagen__derecha {
    padding: 0.5em;
}

.informacion__imagenes__izquierda {
    display: flex;
    align-items: center;
    width: 50vw;
    padding-top: 5em;
    padding-bottom: 5em;
}

.informacion__imagenes__izquierda:hover {
    transform: scale(1.1);
    transition: all 0.8s ease;
}

.texto__imagen__izquierda {
    padding-left: 0.3em;
}

.informacion__imagen {
    height: 20em;
}



/*-sucursales*/

.sucursales__carrusel {
    width: 60em;
}

/*-Exposicion - contacto-*/

.contacto__exposicion {
    display: grid;
    justify-content: space-around;
    margin-top: 6em;
    grid-template-areas: "div__imagenes__exposicion div__imagenes__exposicion__1 div__imagenes__exposicion__2";
}


.contacto__imagen {
    height: 25em;
}

.div__imagenes__exposicion {
    grid-area: div__imagenes__exposicion;
    border: solid 0.5em rgba(255, 255, 255, 0.683);
}

.div__imagenes__exposicion__1 {
    grid-area: div__imagenes__exposicion__1;
    border: solid 0.5em rgba(255, 255, 255, 0.683);
}

.div__imagenes__exposicion__2 {
    grid-area: div__imagenes__exposicion__2;
    border: solid 0.5em rgba(255, 255, 255, 0.683);
}

.exposicion__imagen {
    width: 15em;
}

/* formulario contacto */



.formulario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__box {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    &__inputs {
        align-self: center;
    }

    &__opcion__plegable {
        align-self: center;
    }

    &__textarea {
        align-self: center;
    }

    &__titulo {
        text-align: center;
        font-size: 1em;
        margin: 5em 0em 1em 0em;
    }

    &__botonesContacto {
        align-self: center;
        margin: 0.9em 0em 5em 0em;
        gap: 0.9em;
        
    }

    &__buttonItem {
        --color: #560bad;
        font-family: inherit;
        display: inline-block;
        width: 8em;
        height: 2.6em;
        line-height: 2.5em;
        margin: 20px;
        position: relative;
        overflow: hidden;
        border: 2px solid var(--color);
        transition: color .5s;
        z-index: 1;
        font-size: 17px;
        border-radius: 6px;
        font-weight: 500;
        color: var(--color);
    }

    &__buttonItem:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }

    &__buttonItem:hover {
        color: #fff;
    }

    &__buttonItem:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }

    &__buttonItem:hover:before {
        top: -30px;
        left: -30px;
    }

    &__buttonItem:active:before {
        background: #3a0ca3;
        transition: background 0s;
    }
}

/*-Promociones-*/

.bg-rose {
    background-color: rgba(213, 122, 190, 0.519);
}

.carta__promocion {
    padding: 1em;
    width: 25vw;
    height: 25vh;
}

.carta__promocion:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/*-Sucursales-*/

.backgroud__sucursales {
    @extend .bg-rose;
}

/* Trabajar en ODNails */

.informacion__trabajar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 75vh;
}

.parrafo__trabajar {
    flex-direction: column;
    text-align: center;
    width: 50em;
    padding: 0.3em;
}